@import "tailwindcss";

:root {
  font-family: 'Poppins', sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #58cc02;
  --accent: #1cb0f0;
  --text: #828282;
  --background: #fcfcfc;
}

button {
  padding: 1rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  filter: brightness(110%)
}

h1,
h2,
h3 {
  color: var(--primary)
}

p {
  color: var(--text)
}

span {
  color: var(--accent)
}